* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: none !important;
}

body {
  display: flex;
  justify-content: center; 
  align-items: center;       
  min-height: 100vh;         
  margin: 0;
  /*background-image: url('/public/pictures/background3.webp');*/
  background-size: cover;
  background-position: center;
  font-family: 'Open Sans', sans-serif;
}
